@import "./_breakpoints.scss";
@import "./_typography.scss";
@import "./_colours.scss";

$headerHeight: 60px;
$padding: 1.25em;
$siteWidth: 1080px;
$mapNavHeight: 60px;
$gridMargin: 0.625em;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
$border-radius: 8px;
$transition: .25s ease-in-out;
$transition-speed: 0.6s;

$sansSerif: 'Avenir', 'Lato', sans-serif;
$fontPath: './../fonts/';


// fonts
$primaryFont: 'Roboto-Light', Helvetica, Arial, sans-serif;

$secondaryFont: 'VivaBeautiful', sans-serif;
$tertiaryFont:  'Roboto-Bold', Helvetica, Arial, sans-serif;
$serifFont: 'Roboto', Helvetica, Arial, sans-serif;



// $serifFont: 'MaaxMonoRegular', Helvetica, Arial, sans-serif;

$gutter-width: $padding * 2;
$outer-margin: 2rem;
$gutter-compensation: calc((#{$gutter-width} * 0.5) * -1);
$half-gutter-width: calc((#{$gutter-width} * 0.5));
$xs-min: 30em;
$sm-min: 48em;
$md-min: 64em;
$lg-min: 75em;