// Black & white
$black: #000;
$white: #FFF;

// 50 shades of grey
$grey: #666;
$medium-grey: #D2D2D2;
$light-grey: #F4F4F4;
$dark-grey: #666;
$grey-1: #b4b4b4;
$grey-2: #343434;

// Other colours
$dark-orange: #FF8C00;


// Lily and Bettle theme
$olive: #C1CB68;
$scarlet: #D60405;
$ebony: #191C11;
$olive-green: #85A520;


// Green colours

$olive-green-2: #3D550C;
$lime-green: #81B622;
$yellow-green: #ECF87F;
$green: #59981A;

$error-text: $dark-orange;
$danger-button: #EE463F;